<section class="video">
  <article class="container">
    <h2>The science made simple</h2>
    <div class="video-container">
      <video
        preload="metadata"
        poster="/assets/img/video-thumbnail.png"
        controls
      >
        <source src="/assets/videos/02 - BioAge - 30sec.mp4" type="video/mp4" />
      </video>
    </div>
  </article>
</section>

<section class="how-works">
  <article class="container">
    <div class="content">
      <h2>How BioAge works</h2>
      <h3>
        BioAge determines a person’s biological age, which can give an
        indication of their overall health, by looking at vascular, metabolic,
        inflammatory and lifestyle indicators present in the retinal image.
      </h3>
      <p>
        BioAge uses non-invasive retinal images, taken during a routine eye
        exam. The AI engine powering BioAge has learned from over 1.3 million
        retinal images.
      </p>
    </div>
    <div class="img-container">
      <img src="/assets/img/eye-zoom.png" alt="An eye with zoom" />
    </div>
  </article>
</section>

<section class="why-important">
  <article class="container">
    <h2>Why is knowing a person’s “biological age” important?</h2>
    <h3>
      Not all people age at the same rate(1) and as a result there is increasing
      interest in delineating between an individual’s chronological age and
      their biological age.
    </h3>

    <p>
      While chronological age is defined as the number of years a person has
      lived, biological age refers to how well the cells in a person’s body are
      ageing and functioning<sup>(2)</sup>.
    </p>
    <p>
      Biological age, therefore, provides a better indicator of life span and
      future functional capacity<sup>(3-6)</sup>.
    </p>
    <p>
      Although differing theories exist to explain this process, it is
      recognised that the speed at which the cells deteriorate depends broadly
      upon factors such as the genes we inherit, our lifestyle choices, how much
      stress we are under and how our bodies respond to infections we get.
    </p>
    <p>
      Work in this area has already revealed that estimates of biological age
      can more accurately predict mortality or the onset of a broad spectrum of
      physical and psychological diseases ranging from cardiovascular disease
      (CVD)<sup>(7)</sup> to clinically significant depression<sup>(8)</sup>
      than chronological age.
    </p>
    <p>
      Until now, most of the tools used to assess biological age require the
      collection of data which link an individual’s demographic/social status
      with blood tests and/or radiological tests<sup>(9)</sup>.
    </p>

    <figure>
      <img
        src="/assets/img/figure-1.png"
        alt="Biological age vs chronological age figure"
      />
      <figcaption style="font-style: italic">
        Figure 1: Biological versus chronological vascular ageing. Image
        retrieved and amended from<sup>(2)</sup>.
      </figcaption>
    </figure>
  </article>
</section>

<section class="retina">
  <article class="container">
    <h2>Why is the retina used?</h2>
    <h3>
      Toku’s AI platform utilises a revolutionary, patented method to evaluate
      more than 23 million technical parameters and 12 biological parameters in
      each retinal image, to produce a BioAge outcome.
    </h3>
    <p>
      The retina has long been recognised as a unique window into an
      individual’s health, as the biomarkers present in retinal images may
      provide valuable insights into aging, inflammatory health, neurological
      health, and cardiovascular health. The retinal vasculature allows direct
      non-invasive visualisation of the body’s microvasculature, as it is the
      only part of the body where scientists and clinicians can directly assess
      the health of an individual’s neuro-vascular tissues(10).
    </p>
    <figure>
      <img
        class="desktop"
        src="/assets/img/retina-desktop.png"
        alt="Biological age vs chronological age figure"
      />
      <img
        class="mobile"
        src="/assets/img/retina-mobile.png"
        alt="Biological age vs chronological age figure"
      />
      <figcaption style="font-style: italic">
        Figure 2: Segmentation of vascularisation in the retina – providing
        information on biological parameters contributing to a person’s
        biological age
      </figcaption>
    </figure>
  </article>
</section>

<section class="know-more">
  <article class="container">
    <h2>Want to know more about the science behind BioAge?</h2>
    <a href="" class="btn btn-primary extended">Read our Scientific paper</a>
  </article>
</section>

<section class="references">
  <article class="container">
    <h3>References:</h3>
    <p class="each-reference">
      1. Hamczyk, M. R., Nevado, R. M., Barettino, A., Fuster, V., & Andres, V.
      (2020). Biological versus chronological ageing: JACC focus seminar.
      Journal of the American College of Cardiology, 75(8), 919-930.
    </p>
    <p class="each-reference">
      2. Comfort, A. (1969). Test-battery to measure ageing-rate in man. The
      Lancet, 294(7635), 1411-1415.
    </p>
    <p class="each-reference">
      3. Borkan, G. A., & Norris, A. H. (1980). Assessment of biological age
      using a profile of physical parameters. Journal of Gerontology, 35 (2),
      177-184.
    </p>
    <p class="each-reference">
      4. Mitnitski, A. B., Graham, J. E., Mogilner, A. J., & Rockwood, K.
      (2002). Frailty, fitness and late-life mortality in relation to
      chronological and biological age. BMC geriatrics, 2(1), 1-8.
    </p>
    <p class="each-reference">
      5. Jylhävä, J., Pedersen, N. L., & Hägg, S. (2017). Biological age
      predictors. EBioMedicine, 21, 29-36.
    </p>
    <p class="each-reference">
      6. Levine, M. E. (2013). Modeling the rate of senescence: can estimated
      biological age predict mortality more accurately than chronological age?.
      Journals of Gerontology Series A: Biomedical Sciences and Medical
      Sciences, 68(6), 667-674.
    </p>
    <p class="each-reference">
      7. Samani, N.J., & van der Harst, P. (2008). Biological ageing and
      cardiovascular disease. Heart, 94(5), 537-539.
    </p>
    <p class="each-reference">
      8. Brown, P. J., Wall, M. M., Chen, C., Levine, M. E., Yaffe, K., Roose,
      S. P., & Rutherford, B. R. (2018). Biological age, not chronological age,
      is associated with late-life depression. The Journals of Gerontology:
      Series A, 73(10), 1370-1376.
    </p>
    <p class="each-reference">
      9. Zhavoronkov, A., Bischof, E., & Lee, K. F. (2021). Artificial
      intelligence in longevity medicine. Nature Ageing, 1(1), 5-7.
    </p>
    <p class="each-reference">
      10. Cheung, C. Y. L., Ikram, M. K., Sabanayagam, C., & Wong, T. Y. (2012).
      Retinal microvasculature as a model to study the manifestations of
      hypertension. Hypertension, 60(5), 1094-1103.
    </p>
    <p class="summary">
      The information is provided for broader scientific comprehension and
      discussion. For the actual use of BioAge or any other related products or
      technologies, it is imperative to strictly adhere to the intended use as
      approved and outlined by the local regulatory body in your respective area
      or country.
    </p>
  </article>
</section>
