.title {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.img-container img {
  animation: slideInRight 1s ease-in-out;
}
