<div class="modal-wrapper">
  <div class="content">
    <div class="img-container">
      <img src="assets/img/earth.png" alt="" />
    </div>
    <h2 i18n>Welcome to BioAge</h2>
    <form>
      <div class="form-group select">
        <label for="countrySelect" class="form-label" i18n
          >Select Country</label
        >
        <select
          class="form-control"
          [(ngModel)]="selectedCountry"
          name="country"
          id="countrySelect"
        >
          <option *ngFor="let country of countryList" [value]="country.code">
            {{ country.name }}
          </option>
        </select>
      </div>

      <div class="form-group radio">
        <div class="wrapper" (click)="onLangSelect('en')">
          <div class="icon-container">
            <img
              *ngIf="selectedLang == 'en'"
              src="assets/img/icons/checked.png"
              alt=""
            />
            <img
              *ngIf="selectedLang != 'en'"
              src="assets/img/icons/unchecked.png"
              alt=""
            />
          </div>
          <span [ngClass]="{ 'gray-text': selectedLang != 'en' }">English</span>
        </div>
        <div class="wrapper" (click)="onLangSelect('es')">
          <div class="icon-container">
            <img
              *ngIf="selectedLang == 'es'"
              src="assets/img/icons/checked.png"
              alt=""
            />
            <img
              *ngIf="selectedLang != 'es'"
              src="assets/img/icons/unchecked.png"
              alt=""
            />
          </div>
          <span [ngClass]="{ 'gray-text': selectedLang != 'es' }">
            Español</span
          >
        </div>
      </div>
    </form>
    <button class="btn btn-primary extended" (click)="onConfirm()" i18n>Confirm</button>
  </div>
</div>
