.navbar-brand {
  width: 160px;
}
.nav-item:not(:last-child) {
  line-height: 40px;
}
.nav-link {
  color: var(--color-primary);
}
.router-link-active {
  color: var(--color-secondary);
}



@media screen and (max-width: 575px) {
  .navbar-brand {
    width: 152px;
  }
}
