<header class="container">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img
          src="assets/img/Logo.png"
          i18n-title
          title="BioAge Logo"
          i18n-alt
          alt="Logo"
        />
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        (click)="isCollapsed = !isCollapsed"
        aria-controls="navbarTogglerDemo01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <img src="assets/img/icons/menu-toggler-icon.png" alt="toggler icon" />
      </button>
      <div class="collapse navbar-collapse" [collapse]="isCollapsed">
        <div class="me-auto"></div>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link"
              aria-current="page"
              routerLink="/science"
              routerLinkActive="router-link-active"
              i18n
              >The Science</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#" i18n>Sign In</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              aria-current="page"
              (click)="onToggle()"
              style="cursor: pointer"
            >
              <span class="lang">{{ savedLang }}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
