<header class="container">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img
          src="assets/img/Logo.svg?version=1.2"
          i18n-title
          title="BioAge Logo"
          i18n-alt
          alt="Logo"
        />
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        (click)="isCollapsed = !isCollapsed"
        aria-controls="navbarTogglerDemo01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <img *ngIf="isCollapsed" src="assets/img/icons/menu-toggler-icon.png" alt="toggler icon" />
        <img *ngIf="!isCollapsed" src="assets/img/icons/icons8-close.svg" alt="toggler icon" />
      </button>
      <div
        [@smoothCollapse]="
          isCollapsed && innerWidth <= 575 ? 'initial' : 'final'
        "
        class="collapse navbar-collapse"
        [collapse]="isCollapsed"
      >
        <div class="me-auto"></div>
        <ul
          (click)="isCollapsed = !isCollapsed"
          class="navbar-nav mb-2 mb-lg-0"
        >
          <li class="nav-item">
            <a
              class="nav-link"
              aria-current="page"
              routerLink="/science"
              routerLinkActive="router-link-active"
              i18n
              >The Science</a
            >
          </li>
          <li class="nav-item" style="cursor: pointer;" (click)="onSignInClick()">
            <a class="nav-link" aria-current="page"  i18n>Sign In</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
