<div class="modal-wrapper">
  <div class="content">
    <p i18n>
      By clicking "Accept all cookies", you agree to the storing of cookies on
      your device to enhance site navigation, analyse site usage, and assist in
      our marketing efforts.
    </p>

    <button class="btn btn-primary btn-block" (click)="onAccept()" i18n>
      Accept all cookies
    </button>
    <button class="btn btn-secondary btn-block" (click)="onRejectAll()" i18n>
      Reject all cookies
    </button>
  </div>
</div>
