<section class="banner">
  <article class="container">
    <h1 class="title" i18n>
      Your <span>eyes</span> can reveal how fast or slow your body is aging.
    </h1>
    <div class="img-container">
      <img
        src="assets/img/bioage-banner-phone.png"
        alt="Mockup of BioAge app displaying results on a green phone"
        i18n-alt
        loading="lazy"
      />
    </div>
  </article>
</section>

<section class="transparent-eye">
  <article class="container">
    <div class="video-container">
      <video
        preload="metadata"
        autoplay
        loop
        muted
      >
        <source
          src="assets/videos/3DEyeAnimation(1200x720).mp4"
          type="video/mp4"
        />
      </video>
    </div>
    <h2 i18n>
      The eye is the only transparent part of the body, where you can see the
      blood vessels and nerves directly.
    </h2>
  </article>
</section>
<section class="video">
  <article class="container">
    <h2 i18n>Accessible health screening through the eyes</h2>
    <div class="video-container">
      <video
        preload="metadata"
        poster="assets/img/video-thumbnail.png"
        controls
      >
        <source
          src="assets/videos/bioage-video-homepage.mp4"
          type="video/mp4"
        />
      </video>
    </div>
  </article>
</section>
<section class="biomarkers">
  <article class="container">
    <div class="img-container">
      <img
        src="assets/img/eye-marker.png"
        i18n-alt
        alt="An eye image with mark"
      />
    </div>
    <div class="content">
      <h2 i18n>Your body’s biomarkers are visible in your eye</h2>
      <div class="content-grid">
        <div class="grid-item">
          <h3 i18n>1. Blood vessels</h3>
          <p i18n>Provides an estimate of your cardiovascular health</p>
        </div>
        <div class="grid-item">
          <h3 i18n>2. Nerve</h3>
          <p i18n>Provides insight to your neurological health</p>
        </div>
        <div class="grid-item">
          <h3 i18n>3. Macula</h3>
          <p i18n>Helps estimate rate of ageing and inflammatory health</p>
        </div>
        <div class="grid-item">
          <h3 i18n>4. Image clarity</h3>
          <p i18n>Provides insight to the rate at which your lens is ageing</p>
        </div>
      </div>
    </div>
  </article>
</section>
<section class="bioage-loc">
  <article class="container">
    <h2 i18n>Where to do BioAge</h2>
    <div class="img-container">
      <img
        src="assets/img/bioage-location.png"
        i18n-alt
        alt="Bioage location map"
      />
    </div>

    <a class="btn btn-primary extended" i18n>Become a retailer</a>
  </article>
</section>

<section class="why-bioage">
  <div class="container">
    <article>
      <h2 i18n>Why get BioAge done?</h2>
      <h3 i18n>
        BioAge gives you an overall view of your health and an early indication
        of health deterioration
      </h3>
      <ul>
        <li i18n>
          Detect potential health problems that might be causing your body to
          age faster
        </li>
        <li i18n>
          Empowers you with knowledge about your health, helping you make
          informed decisions about your lifestyle, habits, and healthcare
          choices
        </li>
        <li i18n>
          Enables you to take proactive steps to prevent the onset of diseases
          or complications
        </li>
        <li i18n>
          BioAge can serve as a wake-up call to make positive changes in your
          lifestyle, diet, exercise, and other habits
        </li>
      </ul>
    </article>
    <div class="img-container">
      <img
        src="assets/img/eye scanning.png"
        alt="A eye scanning with machine"
        i18n-alt
      />
    </div>
  </div>
</section>

<section class="retailer">
  <article class="container">
    <h2 i18n>Our retailers</h2>
    <div class="retailer-logos">
      <div class="img-wrapper">
        <img
          src="assets/img/retailers/hedland.png"
          i18n-alt
          alt="hedland logo"
        />
      </div>
      <div class="img-wrapper">
        <img
          src="assets/img/retailers/optometrist.png"
          alt="optometrist logo"
          i18n-alt
        />
      </div>
      <div class="img-wrapper">
        <img
          src="assets/img/retailers/Rose-Optometry-logo.png"
          alt="rose optometry logo"
          i18n-alt
        />
      </div>
      <div class="img-wrapper">
        <img
          src="assets/img/retailers/pharmacy.png"
          i18n-alt
          alt="pharmacy logo"
        />
      </div>
    </div>
  </article>
</section>

<section class="partners">
  <article class="container">
    <h2 i18n>Our partners and investors</h2>
    <div class="partner-logos desktop">
      <div class="img-container">
        <img
          src="assets/img/partners/partnerslogos1.png"
          alt="partners logo"
          i18n-alt
        />
      </div>
      <div class="img-container">
        <img
          src="assets/img/partners/partnerslogos2.png"
          alt="partners logo"
          i18n-alt
        />
      </div>
    </div>
    <div class="partner-logos mobile">
      <div class="img-container">
        <img
          src="assets/img/partners/partnerslogos3.png"
          alt="partners logo"
          i18n-alt
        />
      </div>
      <div class="img-container">
        <img
          src="assets/img/partners/partnerslogos4.png"
          alt="partners logo"
          i18n-alt
        />
      </div>
      <div class="img-container universe">
        <img
          src="assets/img/partners/partnerslogos5.png"
          alt="partners logo"
          i18n-alt
        />
      </div>
    </div>
  </article>
</section>

<section class="regulatory">
  <article class="container">
    <h2 i18n>Regulatory certificates</h2>
    <img
      src="assets/img/ISO-13485 1.png"
      i18n-alt
      alt="ISO regulatory certificate logo"
    />
  </article>
</section>
