section.banner {
  background-color: var(--color-bg-secondary);
  padding-top: 6rem;

  article {
    display: flex;
    h1 {
      padding-right: 3rem;
      width: 65%;
      span {
        color: var(--color-secondary);
      }
    }
    .img-container {
      width: 35%;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  section.banner {
    padding-top: 5rem;

    article {
      h1 {
        padding-right: 1.5rem;
        font-size: 68px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  section.banner {
    padding-top: 4rem;

    article {
      h1 {
        padding-right: 1rem;
        font-size: 48px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  section.banner {
    padding-top: 4rem;

    article {
      h1 {
        padding-right: 1rem;
        font-size: 36px;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  section.banner {
    padding-top: 0rem;

    article {
      display: block;
      h1 {
        width: 100%;
        padding-right: 0rem;
        padding: 1rem;
        font-size: 32px;
      }
      .img-container {
        width: 100%;
        img {
          max-width: 50%;
          min-width: 204px;
          display: flex;
          margin: 0 auto;
        }
      }
    }
  }
}

section.transparent-eye {
  background-color: var(--color-bg-primary);
  padding: 5rem 0;
  article {
    display: flex;
    .img-container {
      width: 50%;
      img {
        width: 100%;
      }
    }
    h2 {
      width: 50%;
      padding-top: 1rem;
      padding-left: 3rem;
      color: #fff;
      font-size: 46px;
      line-height: 56px;
    }
  }
}

@media screen and (max-width: 991px) {
  section.transparent-eye {
    article {
      display: block;
      .img-container {
        display: flex;
        justify-content: center;
        margin: auto;
        width: 70%;
        img {
          width: 100%;
        }
      }
      h2 {
        width: 100%;
        padding-top: 1.5rem;
        padding-left: 0rem;
        font-size: 36px;
        line-height: 46px;

        text-align: center;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  section.transparent-eye {
    padding: 3rem 0;
    article {
      .img-container {
        width: 90%;
        img {
          width: 100%;
        }
      }
      h2 {
        font-size: 22px;
        line-height: 26px;
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
  }
}

section.video {
  background-color: var(--color-bg-primary-light);
  padding: 3rem 0 5rem 0;

  article {
    h2 {
      color: #fff;
      width: 100%;
      padding: 0 20%;
      text-align: center;
      margin: 3rem 0;
    }

    .video-container {
      width: 100%;
      video {
        width: 100%;
        border-radius: 14px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  section.video {
    padding: 2rem 0 2rem 0;

    article {
      h2 {
        padding: 0;
        margin-top: 0;
        margin-bottom: 1.5rem;
      }

      .video-container {
        video {
          border-radius: 8px;
        }
      }
    }
  }
}

section.bioage-loc {
  background: #fff;
  padding: 3rem 0 2rem 0;
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      text-align: center;
      margin: 0;
    }
    .img-container {
      width: 100%;
      margin: 2rem auto;

      img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  section.bioage-loc {
    background: #fff;
    padding: 2rem 0 2rem 0;
    article {
    }
  }
}

@media screen and (max-width: 575px) {
  section.bioage-loc {
    background: #fff;
    padding: 2rem 0 2rem 0;
    article {
      a.btn {
        display: block;
        width: 100%;
        font-size: 14px;
      }
    }
  }
}

section.why-bioage {
  background-color: var(--color-bg-secondary);
  padding: 6rem 0;
  div.container {
    display: flex;
    article {
      width: 60%;
      padding-right: 8rem;
      h2,
      h3 {
        margin: 2rem 0;
      }
      h3 {
        color: var(--color-bg-primary);
      }
    }
    .img-container {
      width: 40%;
      img {
        width: 100%;
        border: 1px solid var(--color-border);
        border-radius: 20px;
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  section.why-bioage {
    div.container {
      display: flex;
      article {
        width: 65%;
        padding-right: 2rem;
        h2,
        h3 {
          margin: 2rem 0;
        }
        h3 {
          color: var(--color-bg-primary);
        }
      }
      .img-container {
        width: 35%;
        padding-top: 8rem;
        img {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  section.why-bioage {
    padding: 3rem 0;
    div.container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      article {
        order: 2;
        width: 100%;
        padding-right: 2rem;
        h2,
        h3 {
        }
        h3 {
        }
      }
      .img-container {
        order: 1;
        width: 100%;
        max-width: 314px;
        padding-top: 0;
        padding-bottom: 2rem;
        margin: 0 auto;

        img {
          width: 100%;
        }
      }
    }
  }
}

section.regulatory {
  background-color: var(--color-bg-primary);
  padding: 3rem 0;

  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      text-align: center;
      color: #fff;
    }

    img {
      width: 209px;
      height: 209px;
    }
  }
}

@media screen and (max-width: 991px) {
  h2 {
    font-size: 38px;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 22px;
  }
}
