<section class="banner">
  <article class="container">
    <h1 class="title">
      Your <span>eyes</span> can reveal how fast or slow your body is aging.
    </h1>
    <div class="img-container">
      <img
        src="/assets/img/Phone results mockup green 1.png"
        alt="bioage banner phone image"
      />
    </div>
  </article>
</section>

<section class="transparent-eye">
  <article class="container">
    <div class="img-container">
      <img src="/assets/img/transparent eye.png" alt="" />
    </div>
    <h2>
      The eye is the only transparent part of the body, where you can see the
      blood vessels and nerves directly.
    </h2>
  </article>
</section>
<section class="video">
  <article class="container">
    <h2>Accessible health screening through the eyes</h2>
    <div class="video-container">
      <video
        preload="metadata"
        poster="/assets/img/video-thumbnail.png"
        controls
      >
        <source
          src="/assets/videos/05 - BioAge - 30sec - 02.mp4"
          type="video/mp4"
        />
      </video>
    </div>
  </article>
</section>

<section class="bioage-loc">
  <article class="container">
    <h2>Where to do BioAge</h2>
    <div class="img-container">
      <img src="/assets/img/bioage-location.png" alt="Bioage location map" />
    </div>

    <a class="btn btn-primary extended">Become a retailer</a>
  </article>
</section>

<section class="why-bioage">
  <div class="container">
    <article>
      <h2>Why get BioAge done?</h2>
      <h3>
        BioAge gives you an overall view of your health and an early indication
        of health deterioration
      </h3>
      <ul>
        <li>
          Detect potential health problems that might be causing your body to
          age faster
        </li>
        <li>
          Empowers you with knowledge about your health, helping you make
          informed decisions about your lifestyle, habits, and healthcare
          choices
        </li>
        <li>
          Enables you to take proactive steps to prevent the onset of diseases
          or complications
        </li>
        <li>
          BioAge can serve as a wake-up call to make positive changes in your
          lifestyle, diet, exercise, and other habits
        </li>
      </ul>
    </article>
    <div class="img-container">
      <img
        src="/assets/img/eye scanning.png"
        alt="A eye scanning with machine"
      />
    </div>
  </div>
</section>

<section class="retailer">
  <article class="container">
    <h2>Our retailers</h2>
    <div class="retailer-logos">
      <div class="img-wrapper">
        <img src="/assets/img/retailers/hedland.png" alt="hedland logo" />
      </div>
      <div class="img-wrapper">
        <img src="/assets/img/retailers/optometrist.png" alt="optometrist logo" />
      </div>
      <div class="img-wrapper">
        <img src="/assets/img/retailers/Rose-Optometry-logo.png" alt="rose optometry logo" />
      </div>
      <div class="img-wrapper">
        <img src="/assets/img/retailers/pharmacy.png" alt="pharmacy logo" />
      </div>
    </div>
  </article>
</section>

<section class="regulatory">
  <article class="container">
    <h2>Regulatory certificates</h2>
    <img src="/assets/img/ISO-13485 1.png" alt="" />
  </article>
</section>
