section.banner {
  background-color: var(--color-bg-secondary);
  padding-top: 6rem;

  article {
    display: flex;
    h1 {
      padding-right: 3rem;
      width: 65%;
      color: var(--color-bg-primary);
      span {
        color: var(--color-secondary);
      }
    }
    .img-container {
      width: 35%;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  section.banner {
    padding-top: 5rem;

    article {
      h1 {
        padding-right: 1.5rem;
        font-size: 68px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  section.banner {
    padding-top: 4rem;

    article {
      padding-right: 1rem;
      h1 {
        font-size: 48px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  section.banner {
    padding-top: 2.5rem;

    article {
      h1 {
        font-size: 36px;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  section.banner {
    padding-top: 0.5rem;

    article {
      display: block;
      h1 {
        width: 100%;
        padding-right: 0rem;
        padding: 1.5rem 0;
        font-size: 32px;
      }
      .img-container {
        width: 100%;
        img {
          max-width: 50%;
          min-width: 204px;
          display: flex;
          margin: 0 auto;
        }
      }
    }
  }
}

section.transparent-eye {
  background-color: var(--color-primary);
  padding: 5rem 0;
  article {
    display: flex;
    .video-container {
      width: 50%;
      padding-right: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      video {
        border-radius: 15px;
        width: 100%;
      }
    }
    h2 {
      width: 50%;
      padding-top: 1rem;
      color: #fff;
      font-size: 46px;
      line-height: 56px;
    }
  }
}

@media screen and (max-width: 1024px) {
  section.transparent-eye {
    article {
      display: block;
      .video-container {
        display: flex;
        justify-content: center;
        margin: auto;
        width: 70%;
        padding-right: 0;
        video {
          width: 100%;
        }
      }
      h2 {
        width: 100%;
        padding-top: 2.5rem;
        font-size: 36px;
        line-height: 46px;

        text-align: center;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  section.transparent-eye {
    padding: 3rem 0;
    article {
      .video-container {
        width: 80%;
        video {
          width: 100%;
        }
      }
      h2 {
        font-size: 22px;
        line-height: 26px;
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  section.transparent-eye {
    article {
      .video-container {
        width: 100%;
        video {
          width: 100%;
        }
      }
      h2 {
      }
    }
  }
}

section.video {
  background-color: #f4f4f4;
  padding: 4rem 0 3.5rem 0;

  article {
    h2 {
      color: var(--color-primary);
      width: 100%;
      padding: 0 20%;
      text-align: center;
      margin-bottom: 3rem;
    }

    .video-container {
      width: 100%;
      video {
        width: 100%;
        border-radius: 14px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  section.video {
    padding: 2.5rem 0 2rem 0;

    article {
      h2 {
        padding: 0;
        margin-top: 0;
        margin-bottom: 1.5rem;
      }

      .video-container {
        video {
          border-radius: 8px;
        }
      }
    }
  }
}

section.biomarkers {
  background-color: var(--color-bg-secondary);
  padding: 5rem 0 3rem 0;
  article {
    display: flex;
    justify-content: center;
    align-items: center;

    .img-container {
      width: 35%;
      img {
        width: 100%;
        max-width: 550px;
      }
    }

    .content {
      width: 65%;
      margin-left: 3rem;
      h2.title {
        margin: 1rem 0 3rem 0;
      }

      .content-grid {
        display: grid;
        grid-template-columns: auto auto;
        gap: 1.5rem;

        .grid-item {
          h3 {
            color: var(--color-secondary);
          }
          p {
            line-height: 28px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  section.biomarkers {
    padding: 3rem 0 3rem 0;
    article {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .img-container {
        width: 100%;
        margin: 0 auto;
        img {
          display: flex;
          width: 100%;
          max-width: 450px;
          margin: 0 auto;
        }
      }

      .content {
        width: 100%;
        margin-left: 0;
        h2.title {
          margin-top: 2rem;
          margin-bottom: 1rem;
        }

        .content-grid {
          display: block;

          .grid-item {
            margin: 1rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  section.biomarkers {
    padding: 2rem 0 1rem 0;
    article {
      .img-container {
        width: 100%;
        margin: 0 auto;
        img {
          width: 100%;
          max-width: 310px;
          margin: 0 auto;
        }
      }

      .content {
        width: 100%;
        h2.title {
          margin-top: 1.5rem;
        }

        .content-grid {
          display: block;

          .grid-item {
            margin: 1rem 0;
            p {
              line-height: 21px;
            }
          }
        }
      }
    }
  }
}

section.bioage-loc {
  background: #fff;
  padding: 3rem 0 2rem 0;
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      text-align: center;
      margin: 0;
    }
    .img-container {
      width: 100%;
      margin: 2rem auto;
      height: 585px;
      iframe {
        border-radius: 20px;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  section.bioage-loc {
    background: #fff;
    padding: 2rem 0 2rem 0;
    article {
      .img-container {
        height: 450px;
        iframe {
          border-radius: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  section.bioage-loc {
    article {
      .img-container {
        height: 350px;
        iframe {
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  section.bioage-loc {
    background: #fff;
    padding: 2rem 0 2rem 0;
    article {
      a.btn {
        display: block;
        width: 100%;
        font-size: 14px;
      }

      .img-container {
        height: 240px;
        iframe {
          border-radius: 10px;
        }
      }
    }
  }
}

section.why-bioage {
  background-color: var(--color-bg-secondary);
  padding: 6rem 0;
  div.container {
    display: flex;
    article {
      width: 60%;
      padding-right: 8rem;
      h2,
      h3 {
        margin: 2rem 0;
      }
      h3 {
        color: var(--color-bg-primary);
      }
    }
    .img-container {
      width: 40%;
      img {
        width: 100%;
        border: 1px solid var(--color-border);
        border-radius: 20px;
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  section.why-bioage {
    div.container {
      display: flex;
      article {
        width: 65%;
        padding-right: 2rem;
        h2,
        h3 {
          margin: 2rem 0;
        }
        h3 {
          color: var(--color-bg-primary);
        }
      }
      .img-container {
        width: 35%;
        padding-top: 8rem;
        img {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  section.why-bioage {
    padding: 3rem 0;
    div.container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      article {
        order: 2;
        width: 100%;
        padding-right: 2rem;
        h2,
        h3 {
        }
        h3 {
        }
      }
      .img-container {
        order: 1;
        width: 100%;
        padding-top: 0;
        padding-bottom: 2rem;
        margin: 0 auto;

        img {
          width: 100%;
        }
      }
    }
  }
}

section.retailer {
  padding: 5rem 0 5rem 0;
  article {
    h2 {
      text-align: center;
      margin-bottom: 4rem;
    }

    .retailer-logos {
      display: grid;
      grid-template-columns: auto auto auto auto;
      gap: 1rem 2.5rem;
      justify-content: center;
      align-items: center;

      .img-wrapper {
        img {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  section.retailer {
    padding: 4rem 0 4rem 0;
    article {
      h2 {
        margin-bottom: 3rem;
      }

      .retailer-logos {
        grid-template-columns: auto auto;
        gap: 1rem 2rem;

        .img-wrapper:nth-child(1) {
          order: 1;
        }
        .img-wrapper:nth-child(2) {
          order: 2;
        }
        .img-wrapper:nth-child(3) {
          order: 4;
        }
        .img-wrapper:nth-child(4) {
          order: 3;
        }
      }
    }
  }
}

section.partners {
  background-color: var(--color-secondary);
  padding: 5rem;
  article {
    h2 {
      color: #fff;
      text-align: center;
      margin-bottom: 3rem;
    }

    .partner-logos {
      &.desktop {
        display: block;
      }
      &.mobile {
        display: none;
      }
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .img-container {
        img {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  section.partners {
    background-color: var(--color-secondary);
    padding: 3rem 0 1rem;
    article {
      h2 {
        color: #fff;
        text-align: center;
        margin-bottom: 2rem;
      }

      .partner-logos {
        &.desktop {
          display: none;
        }
        &.mobile {
          display: flex;
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .img-container {
          img {
            width: 100%;
          }
          .universe img {
            max-width: 180px;
          }
        }
      }
    }
  }
}

section.regulatory {
  background-color: var(--color-bg-primary);
  padding: 3rem 0;

  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      text-align: center;
      color: #fff;
    }

    img {
      width: 209px;
      height: 209px;
    }
  }
}



// something
