<section class="banner">
  <article class="container">
    <h1 class="title">
      Your <span>eyes</span> can reveal how fast or slow your body is aging.
    </h1>
    <div class="img-container">
      <img
        src="/assets/img/Phone results mockup green 1.png"
        alt="bioage banner phone image"
      />
    </div>
  </article>
</section>

<section class="transparent-eye">
  <article class="container">
    <div class="img-container">
      <img src="/assets/img/transparent eye.png" alt="" />
    </div>
    <h2>
      The eye is the only transparent part of the body, where you can see the
      blood vessels and nerves directly.
    </h2>
  </article>
</section>

<section class="bioage-loc">
  <article class="container">
    <h2>Where to do BioAge</h2>
    <div class="img-container">
      <img src="/assets/img/bioage-location.png" alt="Bioage location map" />
    </div>

    <a class="btn btn-primary extended">Become a retailer</a>
  </article>
</section>

<section class="regulatory">
  <article class="container">
    <h2>Regulatory certificates</h2>
    <img src="/assets/img/ISO-13485 1.png" alt="" />
  </article>
</section>
